@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <h1>Center for Innovation in Education</h1>
    <p class="lead" style="float:right;">Leading the Future of STEM Education</p>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Who We Are</h2>
        <p>
            The Center for Innovation in Education is an established 501(3)c non-profit that wants to bring great education to young people. We are taking a new innovative approach to learning as we believe it will have a big impact on the lives of many students.
        </p>
        <p><a class="btn btn-default" href="">@Html.ActionLink("Learn More", "About", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>The Center for Innovation in Education is dedicated to creating and implementing innovative methods for educating young people in the areas of science, technology, engineering, and math (STEM). Students will leave our program with the necessary skills in STEM, as well as finance and products, to succeed in the real world.</p>
    </div>
</div>