
@{
    ViewBag.Title = "Programs";
}

<div class="jumbotron row">
    <h1>Our Programs</h1>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Base11</h2>
        <p>Base11</p>
    </div>
    <div class="col-md-4">
        <h2>The Wealth Project</h2>
        <p>The Wealth Project</p>
    </div>
</div>